// app global css in SCSS form
$background: linear-gradient(135deg,#35438C,#392878);
$navbar: linear-gradient(135deg,#35438C,#2F2466);

.fullPage {
    width:100%;
    position:relative;
}

.pageContent {
    .headerStuff {
        left:50%;
        top:50%;
        position:absolute;
        transform:translate(-50%,-50%);
        text-align:center;
        display: inline-block;
        color:red;
        border:1px red solid;
    }
}

p, div, h1, h2, h3, h4 ,h5 ,h6 {
    //font-family: 'Baloo Tammudu 2', cursive;
}

.pageWidth {
    max-width:800px;
    margin: 0 auto;
}

.backgroundColor {
    background:$background;
}

.border {
    border:1px solid rgb(48, 48, 48);
}

.navbar {
    background: $navbar;
}
  
.cardBackground{
    background:rgba(0, 0, 0, 0);
}